<html><div class="rows">
<div class="desc-sec">
<div class="date">
<div class="date-in">
<span>
<span id="ContentPlaceHolder1_lvCircular_lblUploadDate_0">08-Apr-2022</span>
</span>
</div>
</div>
<div class="text padd">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCircular_lblContentHeading_0"><p><a href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/NBA Details_445481.pdf" target="_blank">List of NBA Accredited Institutes affiliated with GTU (31-03-2022)</a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="date">
<div class="date-in">
<span>
<span id="ContentPlaceHolder1_lvCircular_lblUploadDate_1">08-Apr-2022</span>
</span>
</div>
</div>
<div class="text padd">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCircular_lblContentHeading_1"><p><a href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Circular for Academic Inspection_Local Inspection_959606.pdf" target="_blank">Circular for Academic Inspections Local Inspection </a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="date">
<div class="date-in">
<span>
<span id="ContentPlaceHolder1_lvCircular_lblUploadDate_2">07-Apr-2022</span>
</span>
</div>
</div>
<div class="text padd">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCircular_lblContentHeading_2"><p><a href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Guidelines_Gold_Medal_609143.pdf" target="_blank">Guidelines for Gold Medal</a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="date">
<div class="date-in">
<span>
<span id="ContentPlaceHolder1_lvCircular_lblUploadDate_3">07-Apr-2022</span>
</span>
</div>
</div>
<div class="text padd">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCircular_lblContentHeading_3"><p><a href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Internship___Project_Report_Guidelines__3180701__661242.pdf" target="_blank"> Internship/Project Report guidelines</a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="date">
<div class="date-in">
<span>
<span id="ContentPlaceHolder1_lvCircular_lblUploadDate_4">07-Apr-2022</span>
</span>
</div>
</div>
<div class="text padd">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCircular_lblContentHeading_4"><p><a href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/MPH4_EF_reg_S22_690606.PDF" target="_blank">Instructions for filling the Exam Forms of Summer-2022 Master of Pharmacy (M.Pharm) SEM- 4 (Regular Students)</a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="text">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_0"><p>Summer Exam 2022 : <a href="http://old.gtu.ac.in/S2022.asp" target="_blank">Practical Exam</a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="text">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_1"><p>Winter Exam 2021* :<a href="https://timetable.gtu.ac.in/" target="_blank"> Winter 2021 Examination </a> | <span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_1"><a href="http://old.gtu.ac.in/W2021.asp" target="_blank">Practical Exam</a> | <a href="http://old.gtu.ac.in/W2021.asp" target="_blank">Exam Center</a></span></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="text">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_2"><p>Summer Exam 2021* :<a href="http://timetable.gtu.ac.in/default_S2021.aspx" target="_blank"> Summer 2021 Examination</a> | <a href="http://old.gtu.ac.in/S2021.asp" target="_blank">Practical Exam</a></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="text">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_3"><p>Winter Exam 2020* :<a href="https://timetable.gtu.ac.in/" target="_blank">Winter 2020 Examination </a> | <span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_1"><a href="http://old.gtu.ac.in/W2020.asp" target="_blank">Practical Exam</a> | </span> <span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_1"><a href="http://old.gtu.ac.in/W2020.asp" target="_blank">Exam Center</a></span></p></span>
</h3>
</div>
</div>
</div><div class="rows">
<div class="desc-sec">
<div class="text">
<h3 class="Content">
<span class="Content" id="ContentPlaceHolder1_lvCirImp_lblContentHeading_4"><p>Summer Exam 2020 :  <a href="https://timetable.gtu.ac.in/" target="_blank">Time table Only for the students who have not accepted merit-based progression summer-2020 Exam Result </a> | <a href="http://old.gtu.ac.in/S2020.asp" target="_blank">Exam Center</a>  | <a href="http://old.gtu.ac.in/S2020.asp" target="_blank">Practical Exam</a></p></span>
</h3>
</div>
</div>
</div>
</html>